{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="contents-topic">
        <table class="topic-big">
            <tr><td>날씨</td></tr>
            <tr><td>사랑</td></tr>
            <tr><td>친구</td></tr>
            <tr><td>인생</td></tr>
            <tr><td>진로</td></tr>
            <tr><td>여행</td></tr>
        </table>
        <i class="fas fa-caret-right"></i>
        <p>왼쪽의 카테고리를 선택하세요.</p>
        <table class="topic-small">
            <tr><td>친구와 어떤 일로 싸웠나요?</td></tr>
            <tr><td>가장 친한 친구 한 명을 떠올려 보세요. 그 친구와 어떻게 친해지게 되었나요?</td></tr>
            <tr><td>친구와 오늘 무엇을 하며 놀았나요?</td></tr>
        </table>
    </div>

    <!--multiple을 쓰면 다 보여주고 없으면 드롭다운으로 선택할 수 있음-->
    <!--키워드로 css select 꾸미기 찾아보면 될듯-->
    <select name="mainCategory" style="width:200px" multiple>
        <option value="">전체</option>
    </select>

    <i class="fas fa-caret-right"></i>

    <select name="subCategory" style="width:200px" multiple>
        <option value="">전체</option>
    </select>

    <script src="{% static 'topic/topic.js' %}" ></script>

{% endblock %}