{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="contents-topic">
        <table class="topic-big" id="topic-select">
            {% for topic in topics.all %}
            <tr><td>{{ topic.question_text }}</td></tr>
            {% endfor %}
        </table>
        <i class="fas fa-caret-right"></i>
        <table class="topic-small" id="topic-show">
           {% for choice in choices_friends.all %}
                <tr><td id="topic-td">{{ choice.choice_text }}</td></tr>
            {% endfor %}
        </table>
        <div class="col-lg-12" id="ex1_Result1" ></div>

    </div>
<!--    {{choices.all}}-->
    <!--multiple을 쓰면 다 보여주고 없으면 드롭다운으로 선택할 수 있음-->
    <!--키워드로 css select 꾸미기 찾아보면 될듯-->
    <select name="mainCategory" style="width:200px" multiple>
        <option value="">전체</option>
    </select>

    <i class="fas fa-caret-right"></i>

    <select name="subCategory" style="width:200px" multiple>
        <option value="">전체</option>
    </select>

    <div class="btn-nextprev">
        <button class="prev"><a href="{% url 'index' %}">Prev</a></button>
        <button class="next"><a href="{% url 'voice:voice' %}">Next</a></button>
    </div>

    <script src="{% static 'topic/topic.js' %}" ></script>

{% endblock %}