{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="contents-upload">
        <div class="upload-record">
            <input type=checkbox id="chk-hear-mic"><label for="chk-hear-mic">마이크 소리 듣기</label>
            <button id="record">녹음</button>
            <button id="stop">정지</button>
            <div id="sound-clips"></div>
        </div>
        <div class="upload-file">
            <p>Drag & Drop to Upload File</p>
            <p>OR</p>
            <button class="select-file">파일 선택</button>
            <input type="file" hidden>
        </div>
    </div>

    <div class="btn-nextprev">
        <button class="prev"><a href="{% url 'topic:topic' %}">Prev</a></button>
        <button class="next"><a href="{% url 'analysis:analysis' %}">Next</a></button>
    </div>

    <script src="{% static 'voice/voice.js' %}" ></script>
{% endblock %}